<h1>{{title}}</h1>
<p id="pWelcome">Welcome to {{title}} - Payment Page</p>

<iframe src="/iframe-content" id="frame"></iframe>
<br />
<button id="btnShowMoreText">Click to show payment details</button>

<p id="pLoading" style="display: none">Loading...</p>
<p id="pMoreText" style="display: none">Buying carrots</p>

<script src="/javascripts/index.js"></script>